@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&display=swap");

.profile_header {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Outfit", sans-serif;
}
.profile_image {
  margin: 5px;
  margin-right: 50px;
}
.profile_description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.profile_count {
  font-weight: bold;
  margin: 10px;
}
.profile_username {
  font-size: 25px;
  margin: 10px;
}
.profile_about {
  margin: 10px;
}

.profile_userEdit {
  display: flex;
  align-items: center;
}
